/* 

red : e9311a
orange : ed6335
yellow : ecae7d
light green : 8db4ad
teal : 026c80
blue : 064c72

*/

body {
  background-color: #e5d5c0;
}

header {
  height: 64px;
  line-height: 64px;
  position: absolute;
}

h1 {
  display: inline-block;
  font-size: 1.6em;
  margin: 0 24px;
  color: #064c72;
}
nav {
  display: inline-block;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-left: 24px;
  cursor: pointer;
}
nav ul li.on,
nav ul li:hover {
  color: #e9311a;
}

main {
  height: 100vh;
  overflow: hidden;
}

svg {
  /* animation: rotate_map 60s linear infinite; */
  transform-origin: 50% 50%;
}
@keyframes rotate_map {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

#squiggle {
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: -999;
}
